<h1>Listing users</h1>

<table border=1>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Username</th>
    
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.email %></td>
    <td><%= user.username %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'BACK', root_path %>
