<!DOCTYPE html>
<html>
<head>
  <title>ProjectManagement</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body style="background-color:lavender;background-image: url('/images/back.png');
  background-repeat: repeat;">






<%= yield %>

</body>
</html>
